<ul class="dice">
  <% roll_data.roll.each do |face| -%>
    <li><%= image_tag "die#{face}.gif" %></li>
  <% end -%>
</ul>
<p>
  Turn Score: <%= roll_data.turn_score %>
  Roll Points <%= roll_data.roll_points %>
</p>
<h3>
  <%= player.name %>
  <%=
     case roll_data.action
     when :hold
       "held"
     when :bust
       "went bust"
     when :roll
       "rolled again"
     else
       "-Unknown action #{roll_data.action}-"
     end
 -%>
</h3>
