<ul class="dice">
  <% roll_data.roll.each do |face| -%>
    <li><%= image_tag "die#{face}.gif" %></li>
  <% end -%>
  <li class="point_earned">(<%= roll_data.roll_points %> points in this roll)</li>
</ul>

<p class="score_for_turn">Score for this turn: <%= roll_data.turn_score %></p>

<p class="action">
  <%= player.name %>
  <%=
     case roll_data.action
     when :hold
       "held, earning #{roll_data.turn_score} for this turn"
     when :bust
       "went bust, no points for this turn"
     when :roll
       "rolled again"
     else
       "-Unknown action #{roll_data.action}-"
     end
 -%>
</p>
