<% if flash[:error] -%>
  <div class="error_message"><%= flash[:error] %></div>
<% end -%>
<% form_for :game, :url => assign_players_game_path(@game), :html => {:id => 'select_players'} do |f| %>
  <h1>Select Your Oponents</h1>
  <%= f.error_messages %>
    <% @players.each do |player| -%>
      <div class="field">
        <label>
          <%= check_box_tag "players[]", player.to_s, false, :id => player.name %>
          <%= player.name %>
        </label>
      </div>
    <% end -%>
  <div class="submit">
    <%= f.submit "Play" %>
  </div>
<% end -%>

